* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -500px;
}

li {
  list-style: none;
}
a {
  color: rgb(195, 199, 198); /* điều chỉnh màu chữ của thẻ a */
  text-decoration: none; /* tắt gạch chân dưới chữ của thẻ a*/
  text-emphasis: none; /* loại bỏ hiệu ứng nhấn mạnh như : * trước chữ */
}
/* Phần header*/
header {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
  height: 50px;
  align-items: center;
  box-sizing: border-box;

  /* sử lý cuộn trang */
  /* xử lý cuộn trang cách 1:  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;  Đảm bảo menu hiển thị trên các phần tử khác  
  cách 2: 
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;  chỉnh màu nền tùy theo thiết kế của bạn 
  z-index: 1000; đảm bảo menu hiển thị trên các phần tử khác */
}
.logo img {
  width: 50px;
  height: auto;
}
.logo {
  flex: 1;
  align-items: center;
  padding: 0px 0px;
  display: flex;
}
.menu {
  flex: 7;
  font-weight: bolder;
  color: rgb(61, 61, 61);
  display: flex;
}
.menu > li:hover .submenu {
  display: block;
}
.submenu {
  position: absolute;
  width: 150px;
  padding: 10px 0 10px 20px;
  border: 1px solid #ccc;
  display: none;
  background-color: rgb(61, 61, 61);
}
.submenu > li:hover .submenu-con {
  display: block;
}
.submenu-con {
  position: absolute;
  width: 350px;
  border: 1px solid #ccc;
  padding: 10px 0 10px 20px;
  margin: -15px 0px 0 115px;
  display: none;
  background-color: rgb(61, 61, 61);
  background-position: right 200px;
}
.menu > li {
  font-size: 17px;
  padding: 25px 12px;
  border-width: 0px;
  border-style: none;
  border-color: black;
}
.others {
  flex: -1;
  font-weight: bold;
  align-items: center;
  color: rgb(195, 199, 198);
  display: flex;
}
.others > li {
  padding: 0 5px;
}

.dangnhap {
  display: inline-block;
  background-color: #2684ff;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  font-family: sans-serif;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.dangnhap:hover {
  background-color: #1e69d8;
}
.icon-text {
  display: flex;
}

input[type="text"] {
  padding: 10px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: rgb(31, 35, 36);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 13px;
}

button:hover {
  background-color: #ad1b10e4;
}
/* Nội dung */
.container {
  max-width: 1200px;
  margin: auto;
}
.product-items {
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
  padding: 12px;
}
.product-item {
  width: 35%;
  background-color: #fff;
  padding: 12px;
  text-align: center;
}
.product-item img {
  width: 100%;
  margin-bottom: 10px;
}
/* Loại bỏ quy tắc CSS liên quan đến hiển thị .product-info */
.product-info {
  display: none;
  position: absolute;
  width: 350px;
  height: 302px;
  background-color: #fff;
  padding: 20px;
  margin-left: 9px;
  margin-top: -410px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.product-item p:hover + .product-info {
  display: block;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: -30px; /* Tạo khoảng cách giữa các nút */
  margin-top: 10px;
}
.add-to-cart {
  flex: 1.5;
  margin-left: 20px;
}
.button-chon {
  flex: 1.2;
}
/*
.product-item-text {
  display: flex;
  justify-content: space-between;
}
*/
/*---------------cart---------*/
.cart {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}
.cart h2 {
  margin-bottom: 20px;
}
.cart table {
  width: 100%;
}
.cart table thead tr th:first-child {
  text-align: left;
}
.cart table tr td {
  border-bottom: 1px solid #ddd;
}
.cart table thead tr th:last-child {
  text-align: right;
}
.cart table tbody tr td:last-child {
  text-align: right;
}
/*-------------*/
.cart {
  color: #ffffff;
  position: fixed;
  height: 60vh;
  width: 400px;
  right: 0;
  top: 0;
  margin-top: 60px;
  background-color: rgb(31, 35, 36);
  overflow-y: scroll;
  right: -100%;
  transition: all 0.3s ease;
}
.cart button {
  padding: 10px 20px;
  background-color: rgb(230, 121, 20);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
}
.cart i {
  cursor: pointer;
  margin-right: 46vb;
  font-size: 25px;
}

.cart-icon li a i {
  cursor: pointer;
}
/* Chỉnh a */

/*Phần cuối */
.duongline {
  margin-left: 150px;
  width: 77.5%;
  margin-top: 150px;
  margin-bottom: 0px;
}
footer {
  display: flex;
  justify-content: center;
}
.footer-left {
  margin-right: 650px;
}
/* Phần menu cho phần footer */
.cst-footer-rights {
  display: flex;
}
.cst-footer-rights > li {
  color: #000000;
  font-size: 35px;
  padding: 10px;
}
.footer-last {
  width: none;
  height: 120px;
  background-color: rgb(31, 35, 36);
}
.nd-footer-last {
  color: #000000;
  padding-left: 120px;
  transform: translateY(90%);
}
/* wrapper và cuonmenu dùng để gói lại menu*/
.warapper {
  position: relative;
}

.cuonmenu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgb(31, 35, 36);
}
